/* Archivo: CashFlowTable.css */

.cash-flow-table {
  width: 98%;
  border-collapse: collapse;
}

.cash-flow-table th,
.cash-flow-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: justify;
}

.cash-flow-table th {
  background-color: #252525; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold;
}
.DetalleIngreso{
  background-color: rgb(9, 194, 9)!important; /* Verde claro */
  color: rgb(44, 41, 41);
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}

.TotalIngreso{
  background-color: rgb(9, 194, 9)!important; /* Verde claro */
  color: rgb(17, 16, 16);
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}
.DetalleEgresos{
  background-color: rgba(246, 182, 6, 0.881)!important; /* Rojo */
  color: black;
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}
.EgresoConsumo{
  background-color: rgba(246, 182, 6, 0.881)!important; /* Rojo */
  color: black;
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}
.TotalEgresosOperativos{
  background-color: rgba(246, 182, 6, 0.881)!important; /* Rojo */
  color: black;
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}
.TotalEgreso{
  background-color: rgba(246, 182, 6, 0.881)!important; /* Rojo */
  color: black;
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}
.SaldoNeto{
  background-color: rgb(8, 192, 221)!important; /* Verde claro */
  color: rgb(38, 36, 36);
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}
.SaldoAcumulado{
  background-color: rgb(8, 192, 221)!important; /* Verde claro */
  color: rgb(24, 23, 23);
  font-weight: bold; /* Negrita */
  font-size: 16px; /* Cambiar el tamaño */
}

.positive-value {
  color: rgb(35, 33, 33); /* O el color que prefieras para valores positivos */
}

.negative-value {
  color: red; /* Cambia a rojo los valores negativos */
}



.green {
  background-color: #d4edda; /* Verde claro */
}

.green-bold {
  background-color: #6de388; /* Verde más intenso */
  font-weight: bold;
}

.yellow {
  background-color: #fff3cd; /* Amarillo claro */
}

.yellow-bold {
  background-color: #f0c23a; /* Amarillo más intenso */
  font-weight: bold;
}

.aqua-bold {
  background-color: #d1ecf1; /* Verde agua */
  font-weight: bold;
}

.cash-flow-table-header{
  position: relative;  
}

.cash-flow-table-header tr{
  position: sticky;
  width: 100%;
  top: 3.9rem;  
  background-color: #252525;
  color: white;
  z-index: 1;
  opacity: 0.8;
}

