/* Archivo: CashFlowTable.css */

.cash-flow-table {
  width: 98%;
  border-collapse: collapse;
}

.cash-flow-table th,
.cash-flow-table td {
  border: 1px solid black;
  padding: 10px;
  text-align: justify;
}

.cash-flow-table th {
  background-color: #252525; /* Color de fondo */
  color: white; /* Color del texto */
  font-weight: bold;
}

.TotalIngreso{
  background-color: green!important; /* Verde claro */
}


.green {
  background-color: #d4edda; /* Verde claro */
}

.green-bold {
  background-color: #6de388; /* Verde más intenso */
  font-weight: bold;
}

.yellow {
  background-color: #fff3cd; /* Amarillo claro */
}

.yellow-bold {
  background-color: #f0c23a; /* Amarillo más intenso */
  font-weight: bold;
}

.aqua-bold {
  background-color: #d1ecf1; /* Verde agua */
  font-weight: bold;
}

.cash-flow-table-header{
  position: relative;  
}

.cash-flow-table-header tr{
  position: sticky;
  width: 100%;
  top: 3.9rem;  
  background-color: #252525;
  color: white;
  z-index: 1;
  opacity: 0.8;
}

/* .cash-flow-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cash-flow-table th,
  .cash-flow-table td {
    border: 1px solid #202020;
    padding: 8px;
    text-align: center;
  }
  
  .cash-flow-table th {
    background-color: #6e6e6e;
    font-weight: bold;
  } */
  
  /* Fijar la primera columna */
  /* .cash-flow-table th:first-child,
  .cash-flow-table td:first-child {
    position: sticky;
    left: 0;
    background-color: #ffffff;
    z-index: 1;
    color: #202020;
  } */
  