
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #333;
    height: 1px;
}


.inicio {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.inicio button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.inicio button:hover {
    background-color: #555;
    transform: scale(1.05);
}


.opciones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.opciones label {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.opciones input[type='date'] {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
}

.opciones button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.opciones button:hover {
    background-color: #555;
    transform: scale(1.05);
}


.title-diario {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
    color: black;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.buttons button {
    margin: 10px;
    width: 200px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
    background-color: #333;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.buttons button:hover {
    background-color: #555;
    transform: scale(1.05);
}


.input-search {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.input-search input[type='search'] {
    width: 300px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}


.mainClientes {
    display: flex;
    margin: 0 auto;
    padding: 1rem;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 2rem 0;
}

thead {
    background: #333;
    color: white;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background: #a0a0a0;
}


.Aside {
    padding: 20px;
}

.btn-pages button {
    left: 395px;
    bottom: 90px;
}