h1 {
  color: #303030;
}

.AR {
  color: #31b4ff;
}

.accordion-content {    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }
  
  .accordion-content.open {
    max-height: 100px; /* Ajusta esto según el contenido */
    padding: 1rem; /* Ajusta esto según tus necesidades */
  }

  .BannerPrincipal {
    position: relative;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;  

  }

  .imagenBannerPrincipal {
    height: 100%;
    width: 100%;
    inset: 0;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.5);
    animation: zoom 20s ease infinite;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

  .textoBannerPrincipal{
    text-align: left;
    font-weight: 100;
    font-size: 3.5rem;
    position: absolute;
    z-index: 1;
    top: 40%;    
    left: 10%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.textoBannerPrincipal {
    animation: slideInLeft 1.5s ease-out;
}

  .textoDestacado{  
    font-weight: 600;  
  }

.servicios{
  width: 100%;
}

  .parallax-container {
    display: flex;
    align-items: center;
    color: rgb(41, 40, 40);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantenemos el fondo en scroll */
    background-position: center 100px ; /* Posición inicial del fondo */
    position: relative;    
    overflow: hidden;    
    will-change: background-position;
    h2 {
      font-size: 2.5rem;
    }
  }




  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #article-1::after, #article-3::after, #article-5::after {
    content: '';
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%) ;
    z-index: 0; /* Asegura que el pseudo-elemento esté por debajo del contenido */
  }

  #article-2::after, #article-4::after{
    content: '';
    position: absolute;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(2, 2, 2, 0.8) 40%, rgba(255, 255, 255, 0) 100%) ;
    z-index: 0; /* Asegura que el pseudo-elemento esté por debajo del contenido */
  }

  #article-2, #article-4{

    height: 50vh;    
    color: rgb(230, 229, 229);
    
    .parallax-content{
      padding: 0% 0% 0% 25%;      
      
  }
  }

.parallax-content {
    position: relative;    
    z-index: 1; /* Asegura que el contenido esté por encima de la imagen de fondo */
    /* Otros estilos para tu contenido */
    padding: 0 10% 0 25%;
}

.parallax-content ul{
    list-style: outside;
    padding: 0;
}